<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Patient Medical System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container mt-4">
            <div class="card">
              <div class="card-body">
                <h2>Doctors Page</h2>
            </div>
        </div>

        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <h2>Patient Search</h2>
                    <form method="POST">
                        <div class="form-group">
                            <label for="name1">Patient First Name:</label>
                            <input type="text" class="form-control col-lg-9" id="name1" aria-describedby="emailHelp" placeholder="Enter Name" name="name1">
                        </div>
                        <button type="submit" class="btn btn-primary" formaction="doctor/search-patients">Search Patient</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container mt-4" id="patient_search_table1">
            <div class = "card">
                <div class="card-body">
                    <h2>Search Results</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                            <th>PatientId</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Birth Date</th>
                            <th>Height (cm)</th>
                            <th>Weight (kg)</th>
                            </tr>
                            <%if(patient_search_data1.length != 0 ) 
                            {
                                patient_search_data1.forEach(function(patient){
                            %>
                                <tr>
                                <td><%= patient.PatientID %> </td>
                                <td><%= patient.FirstName %></td>
                                <td><%= patient.LastName %></td>
                                <td><%= patient.BirthDate %></td>
                                <td><%= patient.Height %></td>
                                <td><%= patient.Weight %></td>
                                </tr>
                            <%
                                });
                            }
                            else{
                            %>
                                <tr>
                                <td colspan="6">No Data Found</td>
                                </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <h2>Edit Patients</h2>
                    <form method="POST">
                        <button type="submit" class="btn btn-primary" formaction="doctor/show-add">Add</button>
                        <button type="submit" class="btn btn-primary" formaction="doctor/show-update">Edit</button>
                        <button type="submit" class="btn btn-primary" formaction="doctor/show-remove">Delete</button>
                    </form>
                    <p><%= upd_info %></p>
                </div>
            </div>
        </div>

        <div class="container mt-4" id="patient_add">
            <div class="card">
                <div class="card-body">
                    <h2>Register New Patient</h2>
                    <form action="doctor/add-patient" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control col-lg-9" id="FirstName" aria-describedby="emailHelp" placeholder="First Name" name="FirstName"><br>
                            <input type="text" class="form-control col-lg-9" id="LastName" aria-describedby="emailHelp" placeholder="Last Name" name="LastName"><br>
                            <label>
                                Birth Date:
                                <input type="date" id="BirthDate" name="BirthDate" value="2022-11-11" min="1900-01-01" max="2023-01-01">
                            </label><br>
                            <input type="text" class="form-control col-lg-9" id="Height" aria-describedby="emailHelp" placeholder="Height (cm)" name="Height"><br>
                            <input type="text" class="form-control col-lg-9" id="Weight" aria-describedby="emailHelp" placeholder="Weight (kg)" name="Weight">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container mt-4" id="patient_update">
            <div class="card">
                <div class="card-body">
                    <h2>Update Patient</h2>
                    <form action="doctor/update-patient" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control col-lg-9" id="PatientID" aria-describedby="emailHelp" placeholder="Patient ID" name="updPatientID"><br>
	                        <input type="text" class="form-control col-lg-9" id="FirstName" aria-describedby="emailHelp" placeholder="First Name" name="updFirstName"><br>
                            <input type="text" class="form-control col-lg-9" id="LastName" aria-describedby="emailHelp" placeholder="Last Name" name="updLastName"><br>
                            <input type="text" class="form-control col-lg-9" id="Height" aria-describedby="emailHelp" placeholder="Height (cm)" name="updHeight"><br>
                            <input type="text" class="form-control col-lg-9" id="Weight" aria-describedby="emailHelp" placeholder="Weight (kg)" name="updWeight">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container mt-4" id="patient_remove">
            <div class="card">
                <div class="card-body">
                    <h2>Remove Patient</h2>
                    <form action="doctor/remove-patient" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control col-lg-9" id="delPatientID" aria-describedby="emailHelp" placeholder="Patient ID" name="delPatientID"><br>
	                        <input type="text" class="form-control col-lg-9" id="delFirstName" aria-describedby="emailHelp" placeholder="First Name" name="delFirstName"><br>
                            <input type="text" class="form-control col-lg-9" id="delLastName" aria-describedby="emailHelp" placeholder="Last Name" name="delLastName">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <p><%= info_mismatch %></p>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <h2>Patient Info Search</h2>
                    <form method="POST">
                        <div class="form-group">
                            <label for="pid">Patient ID:</label>
                            <input type="text" class="form-control col-lg-9" id="pid" aria-describedby="emailHelp" placeholder="Enter Patient ID" name="pid">
                        </div>
                        <button type="submit" class="btn btn-primary" formaction="doctor/symptoms-search">Symptoms Search</button>
                        <button type="submit" class="btn btn-primary" formaction="doctor/prescription-search">Prescriptions Search</button>
                        <button type="submit" class="btn btn-primary" formaction="doctor/vac-overdue">Overdue Vaccines</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container mt-4" id="symptoms_table">
            <div class="card">
                <div class="card-body">
                    <h2>Patient Symptoms</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                            <th>Patient Id</th>
                            <th>Diagnosed Date</th>
                            <th>Sore Throat</th>
                            <th>Headache</th>
                            <th>Stomach Ache</th>
                            <th>Hives</th>
                            <th>Temperature (F)</th>
                            <th>Cough</th>
                            <th>Wound</th>
                            <th>Burn</th>
                            <th>Muscle Ache</th>
                            <th>Back Pain</th>
                            <th>Acne</th>
                            <th>Tooth Ache</th>
                            <th>Broken Bone</th>
                            </tr>
                            <%if(symptom_search_data.length != 0 ) 
                            {
                                symptom_search_data.forEach(function(patient){
                            %>
                                <tr>
                                <td><%= patient.PatientID %> </td>
                                <td><%= patient.DigDate %></td>
                                <td><%= patient.SoreThroat %></td>
                                <td><%= patient.Headache %></td>
                                <td><%= patient.StomachAche %></td>
                                <td><%= patient.Hives %></td>
                                <td><%= patient.Temperature %></td>
                                <td><%= patient.Cough %></td>
                                <td><%= patient.Wound %></td>
                                <td><%= patient.Burn %></td>
                                <td><%= patient.MuscleAche %></td>
                                <td><%= patient.BackPain %></td>
                                <td><%= patient.Acne %></td>
                                <td><%= patient.ToothAche %></td>
                                <td><%= patient.BrokenBone %></td>
                                </tr>
                            <%
                                });
                            }
                            else{
                            %>
                                <tr>
                                <td colspan="15">No Data Found</td>
                                </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4" id="prescriptions_table">
            <div class="card">
                <div class="card-body">
                    <h2>Patient Prescriptions</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                            <th>Patient Id</th>
                            <th>Prescriptions</th>
                            <th>Issue Date</th>
                            <th>Dosage</th>
                            </tr>
                            <%if(prescription_search_data.length != 0 ) 
                            {
                                prescription_search_data.forEach(function(patient){
                            %>
                                <tr>
                                <td><%= patient.PatientID %> </td>
                                <td><%= patient.Medication %></td>
                                <td><%= patient.IssueDate %></td>
                                <td><%= patient.Dosage %></td>
                                </tr>
                            <%
                                });
                            }
                            else{
                            %>
                                <tr>
                                <td colspan="4">No Data Found</td>
                                </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4" id="vac_overdue_table">
            <div class="card">
                <div class="card-body">
                    <h2>Wall of Shame</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                            <th>Patient Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            </tr>
                            <%if(patient_data.length != 0 ) 
                            {
                                patient_data.forEach(function(patient){
                            %>
                                <tr>
                                <td><%= patient.PatientID %> </td>
                                <td><%= patient.FirstName %></td>
                                <td><%= patient.LastName %></td>
                                </tr>
                            <%
                                });
                            }
                            else{
                            %>
                                <tr>
                                <td colspan="3">No Data Found</td>
                                </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <h2>Update Patient Info</h2>
                    <form method="POST">
                        <div class="form-group">
                            <label for="did">Doctor ID:</label>
                            <input type="text" class="form-control col-lg-9" id="did" aria-describedby="emailHelp" placeholder="Enter Patient ID" name="did">
                        </div>
                        <p><% did_invalid %></p>
                        <button type="submit" class="btn btn-primary" formaction="doctor/go-to-symptoms-form">Symptoms Form</button>
                        <button type="submit" class="btn btn-primary" formaction="doctor/check-patient-prescriptions">Check Patient Prescriptions</button>
                        <button type="submit" class="btn btn-primary" formaction="doctor/renew-prescriptions">Renew Patient Prescriptions</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container mt-4" id="doctor_prescriptions_table">
            <div class="card">
                <div class="card-body">
                    <h2>Patient Prescriptions</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                            <th>Patient Id</th>
                            <th>Prescriptions</th>
                            <th>Issue Date</th>
                            <th>Dosage</th>
                            </tr>
                            <%if(doctor_prescription_data.length != 0 ) 
                            {
                                doctor_prescription_data.forEach(function(patient){
                            %>
                                <tr>
                                <td><%= patient.PatientID %> </td>
                                <td><%= patient.Medication %></td>
                                <td><%= patient.IssueDate %></td>
                                <td><%= patient.Dosage %></td>
                                </tr>
                            <%
                                });
                            }
                            else{
                            %>
                                <tr>
                                <td colspan="4">No Data Found</td>
                                </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <% if (show_add_box == 0) { %>
            <script language="javascript">
                var x = document.getElementById("patient_add");
                x.style.display = "none";
            </script>
        <% } else { %>
            <script language="javascript">
                var x = document.getElementById("patient_add");
                x.style.display = "inline";
            </script>
        <% } %>

        <% if (show_update_box == 0) { %>
            <script language="javascript">
                var x = document.getElementById("patient_update");
                x.style.display = "none";
            </script>
        <% } else { %>
            <script language="javascript">
                var x = document.getElementById("patient_update");
                x.style.display = "inline";
            </script>
        <% } %>

        <% if (show_remove_box == 0) { %>
            <script language="javascript">
                var x = document.getElementById("patient_remove");
                x.style.display = "none";
            </script>
        <% } else { %>
            <script language="javascript">
                var x = document.getElementById("patient_remove");
                x.style.display = "inline";
            </script>
        <% } %>

        <% if (has_doctor_searched1 == 0) { %>
            <script language="javascript">
                var x = document.getElementById("patient_search_table1");
                x.style.display = "none";
            </script>
        <% } else { %>
            <script language="javascript">
                var x = document.getElementById("patient_search_table1");
                x.style.display = "inline";
            </script>
        <% } %>

        <% if (has_doctor_searched == 0) { %>
            <script language="javascript">
                var x = document.getElementById("symptoms_table");
                x.style.display = "none";

                x = document.getElementById("prescriptions_table");
                x.style.display = "none";

                x = document.getElementById("vac_overdue_table");
                x.style.display = "none";
            </script>
        <% } else { 
            if (doc_table_idx == 0) { %>
                <script language="javascript">
                    var x = document.getElementById("symptoms_table");
                    x.style.display = "inline";

                    x = document.getElementById("prescriptions_table");
                    x.style.display = "none";

                    x = document.getElementById("vac_overdue_table");
                    x.style.display = "none";
                </script>
            <% } else if (doc_table_idx == 1) { %>
                <script language="javascript">
                    var x = document.getElementById("symptoms_table");
                    x.style.display = "none";

                    x = document.getElementById("prescriptions_table");
                    x.style.display = "inline";

                    x = document.getElementById("vac_overdue_table");
                    x.style.display = "none";
                </script>
            <% } else if (doc_table_idx == 2) { %>
                <script language="javascript">
                    var x = document.getElementById("symptoms_table");
                    x.style.display = "none";

                    x = document.getElementById("prescriptions_table");
                    x.style.display = "none";

                    x = document.getElementById("vac_overdue_table");
                    x.style.display = "inline";
                </script>
            <% } %>
        <% } %>

        <% if (has_doctor_searched2 == 0) { %>
            <script language="javascript">
                var x = document.getElementById("doctor_prescriptions_table");
                x.style.display = "none";
            </script>
        <% } else { %>
            <script language="javascript">
                var x = document.getElementById("doctor_prescriptions_table");
                x.style.display = "inline";
            </script>
        <% } %>
    </body>
</html>